<h1>Currency rates:</h1>

<%= form_with(local: true, url: currencies_path, method: :get) do |form| %>
  <div class="field">
    <%= form.label :from %>
    <%= form.select :from, @currencies, selected: params[:from] %>
  </div>

  <div class="field">
    <%= form.label :to %>
    <%= form.select :to, @currencies, selected: params[:to] %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, value: params[:amount] %>
  </div>

  <div class="actions">
    <%= form.submit "Get Rate" %>
  </div>
<% end %>

<% if @total %>
  <p>
    <%= @amount %> <%= @from %>
    Equals:
  </p>
  <p>
    <%= format("%.2f", @total) %> <%= @to %>
  </p>
<% end %>
